*.jpg
*.pgm
*.txt
*.gitignore
*.json
*.out
canny
canny_mpi
canny_openmp
/home/pedrotarazi/ProgramacionParalela/agosto18mauri
/home/pedrotarazi/ProgramacionParalela/Imagenes
/home/pedrotarazi/ProgramacionParalela/Mas
/home/pedrotarazi/ProgramacionParalela/OpenMP
/home/pedrotarazi/ProgramacionParalela/paralelo
